* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0d0d0d; /* fundo escuro */

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: #1a1a1a; /* caixa escura */
    padding: 30px;
    border-radius: 12px;
    width: 320px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}

.login-box h2 {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #121212;
    border: 1px solid #333;
    color: #fff;
    border-radius: 6px;
}

.login-box input:focus {
    border-color: #3b82f6;
    outline: none;
}

.login-box button {
    width: 100%;
    padding: 12px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.login-box button:hover {
    background: #2563eb;
}
